@import "../app.scss";
@import "./main.scss";

.Box4 {
  border: 0 !important;
  position: absolute !important;
  bottom: 0;
  right: 0;
  .content {
    display: grid !important;
    grid-template-columns: 50% 50% !important;
    align-items: stretch !important;

    .quarter-column {
      width: 25vw !important;
      min-height: 25vh;
      padding: 1em;
      border-radius: 20px;

      &:nth-child(1) {
        box-shadow: $success -5px -5px inset;

        &:hover {
          background-color: $success;
        }
      }

      &:nth-child(2) {
        box-shadow: $info -5px -5px inset;

        &:hover {
          background-color: $info;
        }
      }

      &:nth-child(3) {
        box-shadow: $secondary -5px -5px inset;

        &:hover {
          background-color: $secondary;
        }
      }

      &:nth-child(4) {
        box-shadow: $primary -5px -5px inset;

        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}
