@import "../app.scss";

.row {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  .box1-toggle{
    min-height: 90vh;
  }
  .Box1,
  .Box2,
  .Box3,
  .Box4 {
    position: relative;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    border-bottom: 5px solid;
    border-right: 5px solid;
    overflow: hidden;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      button {
        position: absolute;
        bottom: 2em;
        left: calc(50% - 35px);
        border-radius: 10px;
        color: $light;
        font-family: "KGSecondChances";
        font-weight: 600;
        width: 35px;
        height: 35px;
        border: 0;
      }
    }
  }
}
