@import "../app.scss";

$spacing: 2560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 200s;

/* mixins */
@function particles($max) {
  $val: 0px 0px $dark;
  @for $i from 1 through $max {
    $val: #{$val}, random($spacing) + px random($spacing) + px $dark;
  }
  @return $val;
}

@mixin particles($max) {
  box-shadow: particles($max);
  border-radius: 50%;
}

@mixin for-phone {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin for-tablet-landscape {
  @media (max-width: 900px) {
    @content;
  }
}
@mixin for-laptop {
  @media (max-width: 1360px) {
    @content;
  }
}

.row {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  border: 5px solid $light;

  .Box1,
  .Box2,
  .Box3,
  .Box4 {
    position: absolute;
    width: 50vw;
    height: 50vh;
    color: $light;
    border-bottom: 5px solid;
    border-right: 5px solid;
    overflow: hidden;

    h2 {
      @include for-laptop {
        font-size: 16px !important;
        min-height: 22px;
      }
    }
  }

  .Box1 {
    top: 0;
    left: 0;
    .animation-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 50vw;
      height: 50vh;
    }

    .particle,
    .particle:after {
      background: transparent;
    }

    .particle:after {
      position: absolute;
      content: "";
      top: $spacing;
    }

    .particle-1 {
      animation: animParticle $time-1 linear infinite;
      @include particles(1000);
      height: 2px;
      width: 2px;
    }

    .particle-1:after {
      @include particles(900);
      height: 2px;
      width: 2px;
    }

    .particle-2 {
      animation: animParticle $time-2 linear infinite;
      @include particles(800);
      height: 2px;
      width: 2px;
    }

    .particle-2:after {
      @include particles(500);
      height: 3px;
      width: 3px;
    }

    .particle-3:after {
      @include particles(1100);
      height: 3px;
      width: 3px;
      border-radius: 50%;
    }

    .particle-4 {
      animation: animParticle $time-4 linear infinite;
      @include particles(1200);
      height: 1px;
      width: 1px;
    }

    .particle-4:after {
      @include particles(700);
      height: 1px;
      width: 1px;
    }

    @keyframes animParticle {
      from {
        transform: translateY(0px);
      }
      to {
        transform: translateY($spacing * -1);
      }
    }

    .content {
      width: 100%;
      height: 100%;
      padding: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        text-align: center;
        font-size: 58px;

        @include for-laptop {
          font-size: 48px !important;
        }
        @include for-tablet-portrait {
          font-size: 32px !important;
        }
      }

      .subtitle {
        font-size: 1rem;
        text-align: center;
        font-weight: 300;
        color: $light;
        opacity: 1;
        display: block;
        font-size: 14px;
        margin: 0;

        @include for-tablet-portrait {
          font-size: 10px !important;
        }
      }

      p {
        opacity: 0;
        margin-top: 2em;
        display: none;
        z-index: 1;

        @include for-tablet-portrait {
          font-size: 12px !important;
          text-align: left;
        }
      }

      img {
        position: absolute;
        bottom: 0;
        left: 5px;
        width: 100%;
        opacity: 0;
        z-index: 0;
      }

      button {
        background-color: transparent;
        position: absolute;
        bottom: 2em;
        left: calc(50% - 20px);
        color: $primary;
        width: 35px;
        height: 35px;
        border: 0;
        opacity: 0;
        z-index: 99999;

        &:hover {
          cursor: pointer;
          background-color: $dark;
        }
        &:active {
          border: 0;
        }
        @include for-phone() {
          width: 20px;
          height: 20px;
          left: calc(50% - 5px);
          bottom: 0;
        }
      }

      &:hover {
        background-color: $primary;

        button {
          opacity: 1;
          background-color: $dark;
          color: $primary;
        }
      }

      @include for-tablet-portrait {
        padding: 1em !important;
      }
    }
    &:hover {
      border-color: $primary;
      background-color: $primary;
    }
  }

  .Box1-fold {
    min-height: 90vh;
    z-index: 2;
    background-color: $light;

    .animation-wrapper {
      height: 90vh !important;
    }

    .content {
      width: 100%;
      height: 100%;
      padding: 2em;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;

      h1 {
        color: $dark;
        z-index: 3;
      }

      h4 {
        margin-left: 3px;
      }

      p {
        opacity: 1;
        display: block;
      }
      img {
        opacity: 1;
        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);
      }

      button {
        background-color: $primary;
        color: $light;
        opacity: 1;

        i {
          transform: rotate(180deg);
        }
      }
    }
    &:hover {
      .content {
        color: $light;
        h1 {
          color: $light;
        }
        img {
          opacity: 0.7;
          -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(100%) contrast(130%);
        }
        button {
          background-color: $primary;
          color: $light;
        }
      }
    }
  }

  .Box2 {
    top: 0;
    right: 0;
    .content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        text-align: center;
        color: $light;
    
      }

      .grid-studies {
        display: none;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin-top: 1em;

        .grid-education {
          display: flex;
          justify-content: center;
          align-items: space-between;
          width: 50%;

          .grid-ed {
            width: 33%;
            margin: 0 0.5em;
            h3 {
              color: $dark;
            }

            p {
              margin-top: 0.5em;
              font-size: 14px;
              @include for-laptop {
                font-size: 12px;
              }
              @include for-tablet-portrait {
                font-size: 10px;
                margin-top: 0;
              }
            }

            h6 {
              margin-top: 1em;
              color: $primary;
            }
            @include for-laptop {
              margin: 0 0.3em !important;

              h3 {
                font-size: 14px;
              }
              h6 {
                font-size: 8px;
                margin-top: 0;
                margin-bottom: 1em;
              }
            }
            @include for-tablet-portrait {
              h3 {
                font-size: 12px;
              }
            }
          }
          @include for-laptop {
            width: 60%;
          }
          @include for-tablet-landscape {
            width: 100%;
          }
          @include for-tablet-portrait {
            flex-direction: column;

            .grid-ed {
              width: 100%;
            }
          }
        }
        .grid-skills {
          width: 40%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          .grid-skill {
            display: flex;
            min-height: 20px;
            width: 100%;

            .progressBar {
              width: 100%;
              margin: 0 0 0.5em;
            }
          }
          @include for-laptop {
            width: 40%;
          }
          @include for-tablet-landscape {
            display: none;
          }
        }
        @include for-tablet-portrait {
          margin-top: 0.5em;
        }
      }

      button {
        background-color: transparent;
        position: absolute;
        bottom: 2em;
        left: 2em;
        color: $secondary;
        background-color: $dark;
        font-weight: 600;
        width: 35px;
        height: 35px;
        border: 0;
        opacity: 0;

        &:hover {
          cursor: pointer;
        }
        &:active {
          border: 0;
        }
        @include for-phone() {
          width: 20px;
          height: 20px;
          left: 0;
          bottom: 0;
        }
      }

      .rocket-studies {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 200px;
        mix-blend-mode: darken;
        z-index: 0;
      }

      &:hover {
        background-color: $secondary;

        button {
          opacity: 1;
        }
      }
      @include for-laptop {
        padding: 1em !important;
      }
    }

    &:hover {
      border-color: $secondary;

      h2 {
        color: $dark;
      }
    }
  }

  .Box2-fold {
    min-width: 90vw;
    z-index: 2;
    background-color: $dark;

    .content {
      width: 100%;
      height: 100%;
      padding: 2em;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      h2 {
        text-decoration: underline;
      }

      p {
        color: $light !important;
      }

      .grid-studies {
        display: flex;
        h3 {
          color: $secondary !important;
        }

        @include for-tablet-landscape {
          flex-direction: column;
        }
      }

      button {
        background-color: $secondary;
        color: $dark;
        opacity: 1;
        z-index: 9;

        i {
          transform: rotate(180deg);
        }

        &:hover {
          cursor: pointer;
        }
        &:active {
          border: 0;
        }
      }
    }
    &:hover {
      .content {
        color: $light !important;

        h2{
          color: $dark !important;
        }

        p {
          color: $dark !important;
        }

        h3 {
          color: $dark !important;
        }
        button {
          background-color: $dark;
          color: $secondary;
        }
      }
    }
  }

  .Box3 {
    bottom: 0;
    left: 0;

    .content {
      width: 100%;
      height: 100%;
      display: flex;
      padding: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2{
        color: $light;
      }

      .experience {
        width: 70%;
        display: none;
        transform: translateX(-900px);
        position: absolute;
        margin-top: 1em;

        .exp {
          display: flex;
          flex-direction: column;

          h3 {
            color: $primary;
            z-index: 9;
          }

          p {
            font-size: 14px;
            z-index: 1;

            @include for-tablet-portrait {
              font-size: 10px;
            }
          }

          h6 {
            margin-top: 1em;
            color: $primary;
            @include for-tablet-portrait {
              margin-top: 0;
              margin-bottom: 1em;
            }
          }

          @include for-tablet-portrait {
            gap: 0;
          }
        }
        @include for-tablet-portrait {
          width: 100%;
          margin-top: 0.5em;
        }
      }

      button {
        background-color: transparent;
        position: absolute;
        top: 2em;
        right: 2em;
        color: $accent;
        background-color: $dark;
        width: 35px;
        height: 35px;
        border: 0;
        opacity: 0;

        &:hover {
          cursor: pointer;
          background-color: $dark;
        }
        &:active {
          border: 0;
        }

        @include for-phone() {
          width: 20px;
          height: 20px;
          right: 0;
          top: 0;
        }
      }

      &:hover {
        background-color: $accent;

        button {
          opacity: 1;
        }
      }

      @include for-tablet-portrait {
        padding: 1em !important;

        h3 {
          font-size: 12px;
        }
        h6 {
          font-size: 8px;
        }
      }
    }

    &:hover {
      border-color: $accent;

      h2{
        color:$dark;
      }
    }
  }

  .Box3-fold {
    min-height: 90vh;
    z-index: 2;
    background-color: $dark;

    .content {
      width: 100%;
      height: 100%;
      padding: 2em;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      h2 {
        text-decoration: underline;
      }

      h3{
        color: $accent !important;
      }

      p {
        color: $light !important;
      }

      h6{
        color: $primary !important;
      }

      .experience {
        display: flex;
        flex-direction: column;
        opacity: 0;
        gap: 2em;
        transform: translateX(0px);
        position: inherit;
        opacity: 1;
        transition: transform 4s ease-in-out;
        transition-delay: 1s 0s;
        @include for-tablet-portrait {
          gap: 0.5em;
        }
      }

      button {
        background-color: $accent;
        color: $dark;
        opacity: 1;

        i {
          transform: rotate(180deg);
        }
        &:hover {
          cursor: pointer;
        }
        &:active {
          border: 0;
        }
      }
    }
    &:hover {
      .content {
        color: $light !important;

        h2{
          color: $dark !important;
        }
        h3{
          color: $dark !important;
        }
        p {
          color: $dark !important;
        }
      }

      button {
        background-color: $dark;
        color: $accent;
      }
    }
  }

  .Box4 {
    border: 0;
    bottom: 0;
    right: 0;

    h2 {
      @include for-tablet-portrait {
        font-size: 10px !important;
      }
    }
    .content {
      display: grid !important;
      grid-template-columns: 50% 50% !important;
      align-items: stretch !important;

      .quarter-column {
        width: 25vw !important;
        min-height: 25vh;
        padding: 1em;
        position: relative;

        &:nth-child(1) {
          box-shadow: $light -5px -5px inset;
          transition: 0.3s ease-in-out;
          background-size: cover;
          border-right: 5px solid $light;
          border-bottom: 5px solid $light;
          background-position: top left;
          box-shadow: $dark -500px -500px inset;
          background-image: url(../assets/maremoto-cover.jpg);

          a {
            opacity: 0;
            font-size: 14px;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0 10px;
            transform: translateX(50px);
            border-top: 5px solid $light;
            border-left: 5px solid $light;
            color: $light;
            text-decoration: none;

            &:hover {
              background-color: transparent;
              text-decoration: underline;
              color: $light;
            }
            @include for-tablet-portrait {
              font-size: 10px !important;
              right: 0;
              padding: 0 5px;
              border-top: 3px solid $light;
              border-left: 3px solid $light;
            }
          }

          &:hover {
            box-shadow: $primary 0px 0px inset;
            transition: 0.3s ease-in-out;

            a {
              opacity: 1;
              background-color: $dark;
              transform: translateX(0);

              &:hover {
                text-decoration: none;
                background-color: $primary;
              }
            }
          }
          @include for-tablet-portrait {
            background-position: 100% 0;
          }
        }

        &:nth-child(2) {
          box-shadow: $light -5px -5px inset;
          transition: 0.3s ease-in-out;
          background-size: cover;
          border-right: 5px solid $light;
          border-bottom: 5px solid $light;
          background-position: center center;
          box-shadow: $dark -500px -500px inset;
          background-image: url(../assets/spot-cover.png);

          .button {
            opacity: 0;
            font-size: 14px;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0 10px;
            transform: translateX(50px);
            border: 0;
            border-top: 5px solid $light;
            border-left: 5px solid $light;
            color: $light;
            text-decoration: none;

            &:hover {
              background-color: transparent;
              text-decoration: underline;
              color: $dark;
            }
            @include for-tablet-portrait {
              font-size: 10px !important;
              right: 0;
              padding: 0 5px;
              border-top: 3px solid $light;
              border-left: 3px solid $light;
            }
          }

          &:hover {
            box-shadow: $secondary 0px 0px inset;
            transition: 0.3s ease-in-out;

            .button {
              opacity: 1;
              background-color: $dark;
              transform: translateX(0);

              &:hover {
                text-decoration: none;
                cursor: pointer;
                background-color: $secondary;
              }
            }
          }
          @include for-tablet-portrait {
            background-position: 75% 0;
          }
        }

        &:nth-child(3) {
          transition: 0.3s ease-in-out;
          background-size: cover;
          border-right: 5px solid $light;
          border-bottom: 5px solid $light;
          background-position: center center;
          box-shadow: $dark -500px -500px inset;
          background-image: url(../assets/ph-cover.png);

          a {
            opacity: 0;
            font-size: 14px;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0 10px;
            transform: translateX(50px);
            border-top: 5px solid $light;
            border-left: 5px solid $light;
            color: $light;
            text-decoration: none;

            &:hover {
              background-color: transparent;
              text-decoration: underline;
              color: $dark;
            }
            @include for-tablet-portrait {
              font-size: 10px !important;
              right: 0;
              padding: 0 5px;
              border-top: 3px solid $light;
              border-left: 3px solid $light;
            }
          }

          &:hover {
            box-shadow: $accent 0px 0px inset;
            background-color: $accent;

            a {
              opacity: 1;
              background-color: $dark;
              transform: translateX(0);

              &:hover {
                text-decoration: none;
                background-color: $accent;
              }
            }
          }
          @include for-tablet-portrait {
            background-position: 75% 0;
          }
        }

        &:nth-child(4) {
          box-shadow: $light -5px -5px inset;

          .social {
            position: absolute;
            bottom: 1em;
            right: 1em;
            display: none;
            flex-direction: column;
            align-items: flex-end;

            ul {
              display: flex;
              align-items: center;
              gap: 1em;
              justify-content: center;
              list-style-type: none;
              padding: 0;

              li {
                a {
                  color: $dark;
                  i {
                    font-size: 20px;

                    &:hover {
                      color: $light;
                    }
                  }
                }
              }
              @include for-tablet-portrait {
                width: 100%;
                display: grid;
                grid-template-columns: 50% 50%;
                gap: 0.3em;

                li {
                  padding-left: 5px;
                  a {
                    i {
                      font-size: 15px;
                    }
                  }
                }
              }
            }
            p {
              font-size: 12px;
              color: $dark;

              span {
                font-size: 18px;
              }
              @include for-tablet-portrait {
                font-size: 10px;
                letter-spacing: -1px;
                margin-top: -10px;
              }
            }
            @include for-tablet-portrait {
              position: flex;
              justify-content: space-between;
              align-items: stretch;
              height: 70%;
              padding-left: 0.5em;
            }
          }

          &:hover {
            box-shadow: $primary -5px -5px inset;
            background-color: $primary;

            .social {
              display: flex !important;
            }
          }
        }
        @include for-tablet-portrait {
          padding: 0.5em;
        }
      }
    }
  }
}
