@import "../app.scss";
@import "./main.scss";

.Box2 {
  border-color: $secondary !important;
  position: absolute !important;
  top: 0;
  right: 0;

  &:hover {
    background-color: $secondary;
  }
}
